.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px;
}

img {
  width: 160px;
}

input {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 8px 16px;
}